parameters:
	ignoreErrors:
		-
			message: '#^Method Quillstack\\ParameterBag\\ParameterBag\:\:__construct\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ParameterBag.php

		-
			message: '#^Method Quillstack\\ParameterBag\\ParameterBag\:\:all\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ParameterBag.php

		-
			message: '#^Method Quillstack\\ParameterBag\\ParameterBag\:\:get\(\) has parameter \$default with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ParameterBag.php

		-
			message: '#^Method Quillstack\\ParameterBag\\ParameterBag\:\:set\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ParameterBag.php
